.header {
  position: sticky;
  background-color: var(--color-white);
  z-index: 100;
  top: 0;
  width: 100%;
  padding-top: fluid(22, 14);

  &__text {
      width: 100%;
    @include mobile {
      position: absolute;
      background-color: var(--color-white);
    }
    @include mobile-above {
      &.hidden-on-scroll {
        opacity: 0;
        visibility: hidden;
        height: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;
      }
    }

    @include flex-center;
    flex-direction: column;
    // width: 100%;

    span {
      font-family: var(--font-accent);
      color: var(--color-brown);

      &:nth-child(-n + 2) {
        @include fluid-text(60, 18);
        line-height: 0.8;
        font-weight: 400;
      }

      &:last-of-type {
        @include fluid-text(32, 10);
        font-weight: 300;
        letter-spacing: 5px;
      }
    }
  }

  &__menu  {

    position: sticky;
    top: 0;
    z-index: 110;

    @include mobile {
      position: fixed;
      top: 0;
      right: 0;
      background-color: var(--color-white);
      transform: translateX(110%);
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      transition-duration: var(--transition-duration-longer);

      @include flex-center;
    }
  }

  &__menu.active {
    transform: translateX(0);
  }

  &__menu-list {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-family: var(--font-accent);
    font-weight: 300;

    @include fluid-text(34, 10);

    @include mobile {
      flex-direction: column;
      row-gap: 16px;
      @include flex-center;
    }
  }

  &__menu-item {
    position: relative;

    // Общие стили для псевдоэлементов
    &::before,
    &::after {
      content: "❧";
      color: var(--color-brown-light);
      font-size: 0.6em;
      vertical-align: baseline;
    }

    // Для десктопа: только ::after у всех кроме последнего
    @include mobile-above {
      &::before {
        content: none; // отключаем before на десктопе
      }
      &:last-child::after {
        content: none; // убираем after у последнего
      }
      &:not(:last-child)::after {
        margin-left: 14px;
      }
    }

    // Для мобильных (пример миксина)
    @include mobile {
      &::before {
        margin-right: 8px;
      }
      &::after {
        margin-left: 8px;
      }
    }
  }
}
